<h1>sign up</h1>
<div class="signup-text">
  sign up to see photos and videos from your friends.
</div>
<div id="signup-form">
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>form is invalid.</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message.downcase %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit "sign up" %>
    </div>
  <% end %>
</div>
<div class="account">
  already have an account? <%= link_to "login", login_path %>
</div>