<div class="show-post">
  <div class="img">
    <%= image_tag @post.image.variant(resize: "540x540") %>
  </div>
  <div class="content">
    <%= @post.creator.username %>: <%= @post.content %>
  </div>
  <div class="date">
    <%= @post.created_at.strftime("%B %d, %Y").downcase %>
  </div>

  <% if authorized?(@post.creator) %>
    <div class="show-links">
      <%= link_to "edit post", edit_post_path(@post) %> |
      <%= link_to "delete post", post_path(@post), method: :delete, confirm: 'are you sure?' %>
    </div>
  <% end %>
</div>