<!DOCTYPE html>
<html>
  <head>
    <title>TakeYourPic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <h1><%= link_to "takeyourpic", root_path %></h1>
      </header>
      <nav class="navbar">
        <% if logged_in? %>
          <ul>
            <li>
              <%= link_to "add new post", new_post_path %>
            </li>
            <li>
              <%= link_to "logout", logout_path, method: :delete %>
            </li>
          </ul>
        <% end %>
      </nav>

      <div class="flash">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "alert" %>
        <% end %>
      </div>

      <div class="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>