<!DOCTYPE html>
<html>
  <head>
    <title>TakeYourPic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <ul class="navbar">
        <li>
        <%= link_to "takeyourpic", root_path %>
        </li>
        <% if logged_in? %>
          <li>
            <%= link_to "logout", logout_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "login", login_path %>
          </li>
          <li>
            <%= link_to "sign up", new_user_path %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="flash">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert" %>
      <% end %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>