<!DOCTYPE html>
<html>
  <head>
    <title>TakeYourPic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <header class="header">take your pic</header>
      <nav class="navbar">
        <ul>
          <li>
            <%= link_to "takeyourpic", root_path %>
          </li>
          <% if logged_in? %>
            <li>
              <%= link_to "logout", logout_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "login", login_path %>
            </li>
            <li>
              <%= link_to "sign up", signup_path %>
            </li>
          <% end %>
        </ul>
      </nav>

      <div class="flash">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "alert" %>
        <% end %>
      </div>

      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>